.rvmrc
.redcar
.project
env_variables
.env
.emacs*
*~
*#
*.swp
*.swo
*.TODO
.sass-cache/
config/initializers/load_config.rb

.DS_Store
db/postgres
db/redis
vendor/bundle

# Ignore bundler config
/.bundle

# Ignore log and temp files
/log/*.log
/tmp
*.swp
*.swo

public/assets/
public/test_data
test/data/data

# Ignore database configuration
/config/database.yml

.idea
.byebug_history
.vscode
