/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";

@import "font-awesome-sprockets";
@import "font-awesome";


.new-student-link {
  padding: 10px;
}

body {
  font-size: 1.6em
}


.mobile {
  font-size: 2em;
  .app-wrapper {
    margin: 15px;
  }
}

.desktop {
  .app-wrapper {
    max-width: 500px;
    margin: auto;
  }
}



body {
  margin: 10px;
  background-color: #e1e8e0;
  li {
    list-style: none;
  }
}

// forms

form {
  .field_with_errors {
    color: red
  }
}

.student-form {
  background: white;
  padding: 20px;
  border-radius: 10px;

  label {
    min-width: 100px;
  }

  .input {
    margin-bottom: 8px;
  }
}


.artifact-index {
  ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }

  label {
    font-weight: normal;
  }
  .chosen-container {
    width: 100px !important;
  }


  .artifacts {
    .artifact-list-item {
      position: relative;
      border: 1px solid #efefef;
      padding: 10px;
      margin: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: white;
    }

    .artifact {
      cursor: pointer;
      min-height: 50px;
    }
    .tag-list {
      margin-bottom: 8px;

      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    .tag {
      display: inline-block;
      padding: 0px 6px;
      margin: 0px 1px;
      border: 1px solid #e2ddaa;
      background-color: #faf5bf;
      border-radius: 4px;
      cursor: default;
    }

    .actions {
      position: absolute;
      top: 8px;
      right: 0px;

      a {
        padding: 15px;
      }
    }

    .type {
      display: inline;
      font-size: 110%;
    }

    .description {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .date {
      display: inline;
      font-size: 80%;
    }

    .users {
      max-width: 88%;
      i {
        margin-right: 5px;
      }
      .user {
        display: inline-block;
        background-color: #cdeeda;
        border-radius: 4px;
        padding-left: 4px;
        padding-right: 4px;
        cursor: default;
      }
    }

    .image {
      img {
        width: 100%;
      }
      margin-bottom: 10px;
    }

    .no {
      .user {
        background-color: #fdefce;
      }
    }
  }
}



.artifact-form {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 200px;

  .description {
    textarea {
      width: 100%;
      min-height: 150px;
    }
    margin-bottom: 15px;
  }

  .tags {
    label, input {
      display: block;
    }

    .chosen-container {
      width: 100% !important;
    }

    margin-bottom: 15px;
  }

  .some-students {
    .chosen-container {
      width: 100% !important;
    }
  }


  .image {
    label, input {
      display: block;
    }

    img {
      border: 1px solid #CCCCCC;
      padding: 10px;
      border-radius: 6px;
      max-width: 200px;
    }

    input {
      margin-top: 10px;
      margin-left: 10px;
    }

    margin-bottom: 15px;
  }

  .whole_class {
    .radio {
      display: inline-block;
      width: 150px;
      border: 1px solid #EFEFEF;
      border-radius: 5px;
      padding-left: 9px;
      margin-right: 8px;
    }

    input {
      margin-left: 0;
    }

    margin-bottom: 10px;
  }

  .all-students {
    td.name {
      min-width: 100px;
      padding: 5px;
      text-align: left;
    }

    td {
      min-width: 40px;
      text-align: center;
    }

    .fa {
      font-size: 20px;
    }
    .fa-check {
      color: #00c153;
    }
    .fa-remove {
      color: #d3ab2d;
    }
  }
}

.email-form {
  background: white;
  padding: 20px;
  border-radius: 10px;

  label {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.notice {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.invite-user-link a {
  margin-left: 5px;
}

.new-student-link, .invite-user-link {
  display: inline-block;
}



